<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.edger.ipc">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.edger.ipc.permission.ACCESS_BOOK_SERVICE" />

    <permission
        android:name="com.edger.ipc.permission.ACCESS_BOOK_SERVICE"
        android:protectionLevel="normal" />

    <application
        android:name=".IPCApplication"
        android:allowBackup="true"
        android:label="@string/ipc_demo_name"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        <activity android:name=".binderpool.BinderPoolActivity"></activity>

        <service
            android:name=".binderpool.BinderPoolService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/ipc_demo_name"
            android:launchMode="standard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".multiprocess.FirstActivity"
            android:configChanges="screenLayout"
            android:label="@string/ipc_demo_name" />
        <activity
            android:name=".multiprocess.SecondActivity"
            android:configChanges="screenLayout"
            android:label="@string/ipc_demo_name"
            android:process=":remote" />
        <activity
            android:name=".multiprocess.ThirdActivity"
            android:configChanges="screenLayout"
            android:label="@string/ipc_demo_name"
            android:process="com.edger.ipc.remote" />
        <activity
            android:name=".messenger.MessengerActivity"
            android:configChanges="screenLayout"
            android:label="@string/ipc_demo_name" />
        <activity
            android:name=".binder.BookManagerActivity"
            android:configChanges="screenLayout"
            android:label="@string/ipc_demo_name" />
        <activity
            android:name=".provider.BookProviderActivity"
            android:configChanges="screenLayout"
            android:label="@string/ipc_demo_name" />
        <activity
            android:name=".socket.TcpClientActivity"
            android:configChanges="screenLayout"
            android:label="@string/ipc_demo_name" />

        <service
            android:name=".messenger.MessengerService"
            android:process=":remote" />
        <service
            android:name=".binder.BookManagerService"
            android:process=":remote" />
        <service
            android:name=".socket.TcpServerService"
            android:process=":remote" />

        <provider
            android:name=".provider.BookProvider"
            android:authorities="com.edger.ipc.provider"
            android:permission="com.edger.ipc.PROVIDER"
            android:process=":provider" />
    </application>

</manifest>