<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.edger.customview">

    <application>
        <activity android:name=".CustomViewActivity3"></activity>
        <activity android:name=".DrawingActivity" />
        <activity android:name=".CustomViewActivity" />
        <activity android:name=".CustomViewActivity2" />
        <activity android:name=".CustomViewDemoActivity" />
    </application>

</manifest>