<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.edger.materialdemo">

    <application android:theme="@style/AppTheme">
        <activity
            android:name=".MaterialDemoActivity"
            android:label="@string/material_demo_name"
            android:theme="@style/MaterialAppTheme" />
    </application>

</manifest>