<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.edger.notificationdemo">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:label="@string/notification_app_name"
        android:theme="@style/Base.Theme.AppCompat.Light"
        android:usesCleartextTraffic="true">
        <activity android:name=".NotificatoinActivity2"></activity>
        <activity
            android:name=".NotificationActivity"
            android:label="@string/title_activity_notification"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>